<div class="card container mt-5 mb-5">
    <h4 class="display-5 text-center text-white mt-4">Formulario para actualizar producto </h4>
    <hr>

    <ul class="nav nav-tabs mb-3">

        <li class="nav-item">
            <a class="nav-link" href="/agregarProducto" style="color: aliceblue">Agregar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/actualizarProducto"
                style="color: black">Actualizar</a>
        </li>

    </ul>

    <form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">ID</label>
            <input type="number" class="form-control" formControlName="ID"
                placeholder="Escribe el id del producto que quieres actualizar" [class.is-invalid]=" IDValido"
                aria-describedby="emailHelp" #id>
            <small *ngIf="IDValido" class="text-danger">El ID es un campo obligatorio</small>
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Nombre</label>
            <input type="text" formControlName="nombre" class="form-control"
                placeholder="Ingresa el nuevo nombre de la flor" [class.is-invalid]=" nombreValido" #nombre>
            <small *ngIf="nombreValido" class="text-danger">El nombre es un campo obligatorio</small>
        </div>


        <div class="mb-3">
            <label class="form-label">Precio</label>
            <input type="number" placeholder="Ingresa el nuevo precio por docena" class="form-control"
                formControlName="precio" [class.is-invalid]="precioValido" #precio>
            <small *ngIf="precioValido" class="text-danger">El precio es un campo obligario</small>
        </div>

        <div class="mb-3">
            <label class="form-label">Cantidad ingresada</label>
            <input formControlName="stock" type="number" [class.is-invalid]="stockValido" class="form-control"
                placeholder="Este campo es para actulizar el stock" id="1" #stock>
            <small *ngIf="stockValido" class="text-danger">La cantidad es un campo obligario</small>
        </div>

        <button type="submit " (click)=" actualizarProduto( id.value, nombre.value, precio.value, stock.value)"
            class="btn btn-primary col-12 mx-auto mt-4 mb-3 boton">Agregar producto</button>
    </form>
</div>


<!-- <div class="row ">
    <div class=" card col-5 mb-3 mx-auto">
        <button type="button" class="btn btn-dark" style="background-color: black;"
            routerLink="/actualizarProducto">Actualizar</button>
    </div>
    <div class=" card col-5 mb-3 mx-auto">
        <button type="button" class="btn btn-dark" style="background-color: black;"
            routerLink="/agregarProducto">Agregar</button>
    </div>
</div> -->