<div class="container animeted">
    <div class="row">
        <div class="card col-6">
            <button type="button" class="btn btn-light" routerLink="/agregarProducto"> <i class="fas fa-notes-medical fa-6x"></i></button><br><strong style="text-align: center;margin-top: -25px;">Dar de alta nuevo producto</strong>
        </div>
        <div class=" card col-6">
            <button type="button" class="btn btn-light" routerLink="/consultarProducto"> <i class="fas fa-notes-medical fa-6x"></i></button><br><strong style="text-align: center;margin-top: -25px;">Consultar</strong>
        </div>
    </div>
</div>