/* body {
    background: url(assets\img\poppies-gd4448f1c3_1920.jpg) no-repeat center center fixed;
    background-size: cover;
} */


/* .image {
    background-image: url(src/assets/img/lotus-1205631_1920.jpg);
    background-size: cover;
    background-position: center;
    ;
} */


  .btn {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #3a86ff;
    box-shadow: 0 5px #4433ff;
  }
  .btn:hover {
    box-shadow: 0 3px #4433ff;
    top: 1px;
  }
  .btn:active {
    box-shadow: 0 0 #4433ff;
    top: 5px;
  }