/* body {
    background: url(assets\img\poppies-gd4448f1c3_1920.jpg) no-repeat center center fixed;
    background-size: cover;
} */

body {
    margin: 0;
    padding: 0;
    background-image: url(src/assets/img/flower-g240ace292_1280.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}