/* You can add global styles to this file, and also import other style files */


/* 
body {
    background-image: url(src/assets/img/sky-6811874_1920.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
} */

