<div class="container animeted mt-5">

    <div class="row text-center">
        <div class="card col mx-1 mt-5">
            <button type="button" class="btn btn-light  " routerLink="/menu2"> <img src="assets/img/stock-svgrepo-com.svg" style="width:55%;"> </button><br><strong >Inventario</strong>
        </div>

        <div class="card col mx-1 mt-5">
            <button type="button" class="btn btn-light " routerLink=""> <img src="assets/img/money-svgrepo-com.svg" style="width:55%"> </button><br><strong>Ventas</strong>
        </div>

        <div class="card col mx-1 mt-5">
            <button type="button" class="btn btn-light " routerLink="/menu3"> <img src="assets/img/group-people-svgrepo-com.svg" style="width:55%;"> </button><br><strong>Usuarios</strong>
        </div>

    </div>
</div>



<!-- d-flex justify-content-center aling-items-center -->